body{
	background:#000;
	color:#FFF;
}
h1{
	width:700px;
	height:40px;
	margin:0px;
	text-align:center;
}
div{
	width:350px;
	height:25px;
	margin-top:5px;
	margin-bottom:5px;
}
div[id="console"]{
	width:350px;
	height:90px;
	background:#FFF;
	color:#000;
	overflow:scroll;
	margin-top:5px;
	margin-bottom:5px;
}
div[id="col"]{
	width:700px;
	height:400px;
	-moz-column-count:2;
	-webkit-column-width:350px;
	-webkit-column-gap:0px;
}
span{
	width:85px;
	height:25px;
	display:inline-block;
	vertical-align:middle;
	text-align:center;
}
span[id="comsel"]{
	width:125px;
}
span[id="plotsel"]{
	width:90px;
}
span[id="version"]{
	width:60px;
}
span[id="PID"]{
	width:60px;
}
input[type="button"]{
	width:60px;
	height:25px;
	margin:0px;
	border-width:0px;
	padding:0px;
}
input[type="text"]{
	width:60px;
	height:25px;
	margin:0px;
	border-width:0px;
	padding:0px;
}
input[type="checkbox"]{
	width:15px;
	height:15px;
	margin:0px;
	border-width:0px;
	padding:0px;
}
canvas{
	width:350px;
	height:220px;
	background:#FFF;
	margin-top:5px;
	margin-bottom:5px;
}
