NET P1_3   LOC = P35  | IOSTANDARD = LVCMOS33;
NET P1_4   LOC = P34  | IOSTANDARD = LVCMOS33;
NET P1_5   LOC = P33  | IOSTANDARD = LVCMOS33;
NET P1_6   LOC = P32  | IOSTANDARD = LVCMOS33;
NET P1_7   LOC = P30  | IOSTANDARD = LVCMOS33;
NET P1_8   LOC = P29  | IOSTANDARD = LVCMOS33;
NET P1_9   LOC = P27  | IOSTANDARD = LVCMOS33;
NET P1_10  LOC = P26  | IOSTANDARD = LVCMOS33;
NET P1_11  LOC = P24  | IOSTANDARD = LVCMOS33;
NET P1_12  LOC = P23  | IOSTANDARD = LVCMOS33;
NET P1_13  LOC = P22  | IOSTANDARD = LVCMOS33;
NET P1_14  LOC = P21  | IOSTANDARD = LVCMOS33;
NET P1_15  LOC = P17  | IOSTANDARD = LVCMOS33;
NET P1_16  LOC = P16  | IOSTANDARD = LVCMOS33;
NET P1_17  LOC = P15  | IOSTANDARD = LVCMOS33;
NET P1_18  LOC = P14  | IOSTANDARD = LVCMOS33;
NET P1_19  LOC = P12  | IOSTANDARD = LVCMOS33;
NET P1_20  LOC = P11  | IOSTANDARD = LVCMOS33;
NET P1_21  LOC = P10  | IOSTANDARD = LVCMOS33;
NET P1_22  LOC = P9   | IOSTANDARD = LVCMOS33;
NET P1_23  LOC = P8   | IOSTANDARD = LVCMOS33;
NET P1_24  LOC = P7   | IOSTANDARD = LVCMOS33;
NET P1_25  LOC = P6   | IOSTANDARD = LVCMOS33;
NET P1_26  LOC = P5   | IOSTANDARD = LVCMOS33;
NET P1_27  LOC = P2   | IOSTANDARD = LVCMOS33;
NET P1_28  LOC = P1   | IOSTANDARD = LVCMOS33;
NET P1_29  LOC = P142 | IOSTANDARD = LVCMOS33;
NET P1_30  LOC = P141 | IOSTANDARD = LVCMOS33;
NET P1_31  LOC = P140 | IOSTANDARD = LVCMOS33;
NET P1_32  LOC = P139 | IOSTANDARD = LVCMOS33;
NET P1_33  LOC = P138 | IOSTANDARD = LVCMOS33;
NET P1_34  LOC = P137 | IOSTANDARD = LVCMOS33;
NET P1_35  LOC = P134 | IOSTANDARD = LVCMOS33;
NET P1_36  LOC = P133 | IOSTANDARD = LVCMOS33;
NET P1_37  LOC = P132 | IOSTANDARD = LVCMOS33;
NET P1_38  LOC = P131 | IOSTANDARD = LVCMOS33;
NET P2_3   LOC = P43  | IOSTANDARD = LVCMOS33;
NET P2_4   LOC = P44  | IOSTANDARD = LVCMOS33;
NET P2_5   LOC = P45  | IOSTANDARD = LVCMOS33;
NET P2_6   LOC = P46  | IOSTANDARD = LVCMOS33;
NET P2_7   LOC = P47  | IOSTANDARD = LVCMOS33;
NET P2_8   LOC = P48  | IOSTANDARD = LVCMOS33;
NET P2_9   LOC = P50  | IOSTANDARD = LVCMOS33;
NET P2_10  LOC = P51  | IOSTANDARD = LVCMOS33;
NET P2_11  LOC = P55  | IOSTANDARD = LVCMOS33;
NET P2_12  LOC = P56  | IOSTANDARD = LVCMOS33;
NET P2_13  LOC = P74  | IOSTANDARD = LVCMOS33;
NET P2_14  LOC = P75  | IOSTANDARD = LVCMOS33;
NET P2_15  LOC = P78  | IOSTANDARD = LVCMOS33;
NET P2_16  LOC = P79  | IOSTANDARD = LVCMOS33;
NET P2_17  LOC = P80  | IOSTANDARD = LVCMOS33;
NET P2_18  LOC = P81  | IOSTANDARD = LVCMOS33;
NET P2_21  LOC = P82  | IOSTANDARD = LVCMOS33;
NET P2_22  LOC = P83  | IOSTANDARD = LVCMOS33;
NET P2_23  LOC = P84  | IOSTANDARD = LVCMOS33;
NET P2_24  LOC = P85  | IOSTANDARD = LVCMOS33;
NET P2_25  LOC = P87  | IOSTANDARD = LVCMOS33;
NET P2_26  LOC = P88  | IOSTANDARD = LVCMOS33;
NET P2_27  LOC = P92  | IOSTANDARD = LVCMOS33;
NET P2_28  LOC = P93  | IOSTANDARD = LVCMOS33;
NET P2_29  LOC = P94  | IOSTANDARD = LVCMOS33;
NET P2_30  LOC = P95  | IOSTANDARD = LVCMOS33;
NET P2_31  LOC = P97  | IOSTANDARD = LVCMOS33;
NET P2_32  LOC = P98  | IOSTANDARD = LVCMOS33;
NET P2_33  LOC = P99  | IOSTANDARD = LVCMOS33;
NET P2_34  LOC = P100 | IOSTANDARD = LVCMOS33;
NET P2_35  LOC = P101 | IOSTANDARD = LVCMOS33;
NET P2_36  LOC = P102 | IOSTANDARD = LVCMOS33;
NET P2_37  LOC = P104 | IOSTANDARD = LVCMOS33;
NET P2_38  LOC = P105 | IOSTANDARD = LVCMOS33;
NET GCLK   LOC = P126 | IOSTANDARD = LVCMOS33;
NET SW[0]  LOC = P124 | IOSTANDARD = LVCMOS33 | PULLUP;
NET SW[1]  LOC = P123 | IOSTANDARD = LVCMOS33 | PULLUP;
NET SW[2]  LOC = P121 | IOSTANDARD = LVCMOS33 | PULLUP;
NET SW[3]  LOC = P120 | IOSTANDARD = LVCMOS33 | PULLUP;
NET LED[0] LOC = P119 | IOSTANDARD = LVCMOS33;
NET LED[1] LOC = P118 | IOSTANDARD = LVCMOS33;
NET LED[2] LOC = P117 | IOSTANDARD = LVCMOS33;
NET LED[3] LOC = P116 | IOSTANDARD = LVCMOS33;
NET LED[4] LOC = P115 | IOSTANDARD = LVCMOS33;
NET LED[5] LOC = P114 | IOSTANDARD = LVCMOS33;
NET LED[6] LOC = P112 | IOSTANDARD = LVCMOS33;
NET LED[7] LOC = P111 | IOSTANDARD = LVCMOS33;

NET "GCLK" TNM_NET = "CLK";
TIMESPEC TS_GCLK = PERIOD "CLK" 10 ns HIGH 50 %;
NET "P1_38" TNM_NET = "SPI_CLK";
TIMESPEC TS_SCLK = PERIOD "SPI_CLK" 50 ns HIGH 50 %;
